/*@charset "UTF-8";*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    font-size: 14px;
    background-color: #fff;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga' 0;
}

/**/

.left {
    position: absolute;
    width: 240px;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: rgba(0, 0, 0, .42) 0 10px 30px -12px, rgba(0, 0, 0, .12) 0 4px 25px 0, rgba(0, 0, 0, .2) 0 8px 10px -5px;
    z-index: 1;
}

.page-title {
    display: flex;
    width: 200px;
    height: 50px;
    margin: 25px 20px 0;
    padding-bottom: 15px;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, .35);
}

.left-container {
    height: calc(100% - 115px);
    margin: 10px 5px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-container {
    display: flex;
    width: 200px;
    height: 50px;
    margin: 5px 0;
    border-radius: 5px;
    color: inherit;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: background-color .15s linear;
    -moz-transition: background-color .15s linear;
    -o-transition: background-color .15s linear;
}

.nav-container:hover {
    background: rgba(100, 100, 100, .3);
}

.nav-icon {
    width: 50px;
    height: 50px;
    display: flex;
}

.nav-icon > img {
    width: 24px;
    height: 24px;
    margin: auto;
    filter: brightness(100);
}

.nav-text {
    padding-left: 8px;
    line-height: 50px;
    width: 135px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**/

.right {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 240px;
    right: 0;
    color: #3C4858;
    background-color: #eee;
}

.right-container {
    margin: 20px 5px 20px 20px;
    padding-right: 15px;
    height: calc(100% - 40px);
    overflow-x: hidden;
    overflow-y: auto;
}


.group-container {
    margin: 40px 0 55px;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    padding: 15px;
    border-radius: 6px;
}

.group-title {
    display: flex;
}

.group-icon {
    display: flex;
    width: 60px;
    height: 60px;
    margin-top: -35px;
    border-radius: 3px;
}

.group-icon > img {
    width: 28px;
    height: 28px;
    margin: auto;
    filter: brightness(100);
}

.group-text {
    padding-left: 15px;
    font-size: 18px;
}

.link-container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.link-item {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    outline: none;
    border-top: 1px solid rgb(229, 229, 229);
}

.link-item-container {
    display: flex;
    margin: 7px 5px;
    padding: 5px;
    align-items: center;

    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background-color .15s linear;
    -moz-transition: background-color .15s linear;
    -o-transition: background-color .15s linear;
}

.link-item-container:hover {
    background: rgba(0, 0, 0, 0.04);
}

.link-item-container > img {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgb(229, 229, 229);
}

.link-item-container > p {
    margin-left: 10px;
    /*letter-spacing: 1px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**/


.group-icon-green {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: rgba(0, 0, 0, 0.14) 0 4px 20px 0, rgba(76, 175, 80, 0.4) 0 7px 10px -5px;
}

.group-icon-orange {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: rgba(0, 0, 0, 0.14) 0 4px 20px 0, rgba(255, 152, 0, 0.4) 0 7px 10px -5px;
}

.group-icon-red {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: rgba(0, 0, 0, 0.14) 0 4px 20px 0, rgba(244, 67, 54, 0.4) 0 7px 10px -5px;
}

.group-icon-blue {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: rgba(0, 0, 0, 0.14) 0 4px 20px 0, rgba(0, 172, 193, 0.4) 0 7px 10px -5px;
}

.group-icon-purple {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    box-shadow: rgba(0, 0, 0, 0.14) 0 4px 20px 0, rgba(156, 39, 176, 0.4) 0 7px 10px -5px;
}


/**/

@media screen and (max-width: 600px) {
    .left {
        width: 80px;
    }

    .page-title {
        display: none;
    }

    .left-container {
        margin: 15px;
        height: calc(100% - 15px);
    }

    .nav-container {
        width: 50px;
        margin: 0;
    }

    .nav-text {
        display: none;
    }


    .right {
        left: 80px;
    }

    .link-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}